{% ckan_extends %}

{% block package_notes %}
  {% if pkg.notes_translated %}
    <div class="notes embedded-content">
      {{ h.render_markdown(h.scheming_language_text(pkg.notes_translated), allow_html=True) }}
    </div>
  {% elif pkg.notes %}
    <div class="notes embedded-content">
      {{ h.render_markdown(h.get_translated(pkg, 'notes'), allow_html=True) }}
    </div>
  {% endif %}

  {% set view = h.get_canonical_resource_view(pkg.id) %}
  {% if view %}
    {% snippet 'package/snippets/resource_view.html',
        resource_view = view['resource_view'],
        resource = view['resource'],
        package = pkg
    %}
  {% endif %}
{% endblock %}

